/* font-family: 'Comfortaa', cursive; */

body{
    background: url(https://img.wallpapersafari.com/desktop/1920/1080/27/99/70NZwX.jpg) no-repeat fixed;
    background: cover;
}

p{
    color: white;
}

#titre{
    color: white;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

#pdp{
    border: 2px solid black;
    border-radius: 50%;
    width: 150px;
}


#colonne2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.media-content{
    padding-top: 5%;
}

@media screen and (max-width: 768px) {
    #pdp{
        width: 100%;
        border-radius: 0%;
    }

}